@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom styles */
:root {
  color-scheme: light;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  -webkit-user-select: none;
  user-select: none;
}

#app {
  width: 100%;
  height: 100%;
}
